/* warna */
.warna1 {
    background-color: #0d2901;
}

.warna2 {
    background-color: #805c06;
}

.warna2:hover {
    background-color: #aa7905;
}

.warna3 {
    background-color: #e6a307;
}

.warna4 {
    background-color: #FFFFFF;
}


/* banner */
.banner-home{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/banner-home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-briket{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/briket.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-toga{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/pic3.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-eco{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/pic3.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-tentangKami{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/pic3.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/* menu halaman */
.highlighted {
    height: 250px;
}

.briket {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/briket.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.toga {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/toga.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.eco {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/eco.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.map {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/map.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.poster {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/poster.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}


/* lain-lain */
.no-decoration {
    text-decoration: none;
    color: #FFFFFF;
}

.text-harga {
    font-size: 20px;;
}

.image-box {
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
}

.content-subscribe {
    background-color: rgba(0, 0, 0, 0.7);
}

.content-subscribe a {
    color: #FFFFFF;
}

.produk-terkait-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.logo {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 75px;
    width: 75px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}